.reasons {
    display: flex; 
    flex-direction: column;
    gap: 120px; 
    margin-bottom: 120px; 
}

.values {
    margin-bottom: 145px; 
}

.values > h2 {
    font-size: 32px; 
    line-height: 1;
    letter-spacing: -1.43px;
    margin-bottom: 64px; 
    text-align: center;
}

.values .flex {
    display: flex; 
    flex-direction: column;
    gap: 56px; 
}
.careers {
    display: flex; 
    flex-direction: column;
    gap: 16px; 
    margin-bottom: 120px; 
}

@media screen and (min-width: 768px) {
    .reasons {
        margin-bottom: 104px; 
    }
    .values {
        margin-bottom: 120px; 
    }
    .values > h2 {
        font-size: 48px; 
        letter-spacing: -2.14px;
        margin-bottom: 105px; 
    }
}

@media screen and (min-width: 1110px) {
    .reasons {
        gap: 160px; 
        margin-bottom: 200px; 
    }
    .values {
        width: 1110px; 
        margin: 0 auto 120px; 
    }
    .values > h2 {
        margin-bottom: 103px; 
    }
    .values .flex {
        flex-direction: row;
    }
}