.hero {
    position: relative; 
    padding: 115px 0 34px; 
    color: white; 
    margin-bottom: 120px; 
    z-index: 20; 
}
.hero .content {
    margin: 0 32px; 
}

.hero .content h1 {
    font-size: 40px; 
    line-height: 1; 
    letter-spacing: -1.79px; 
    text-align: center;
}

.hero .circles {
    visibility: hidden;
    pointer-events: none;
    position: absolute; 
}

.hero .arrow {
    transform: translatex(-280px)
}

.hero .text {
    text-align: center;
    margin-top: 24px; 
    position: relative; 
}

.hero .orange-line {
    position: absolute; 
    top: 0; 
    right: 0; 
}

.hero .text p {
    margin-bottom: 34px; 
    font-size: 15px; 
    line-height: 1.67; 
}

.hero picture {
    z-index: -4; 
    position: absolute; 
    inset: 0 0 0 0; 
}

.how-to-use {
    margin: 0 32px 120px; 
}

.how-to-use .flex {
    display: flex; 
    flex-direction: column;
    gap: 48px; 
    position: relative; 
}
.reasons {
    display: flex; 
    flex-direction: column;
    gap: 120px; 
    margin-bottom: 120px; 
}

@media screen and (min-width: 768px) {
    .hero {
        margin-bottom: 122px; 
    }
    .hero .content {
        margin: 0 97px; 
    }
    .hero .content {
        margin-bottom: 40px; 
    }
    .hero .content h1 {
        font-size: 56px; 
    }
    .hero .arrow {
        transform: translatex(-140px); 
    }
    .hero .img-container {
        display: flex; 
        justify-content: space-between;
        align-items: end;
    }
    .hero .circles {
        position: relative; 
        visibility: visible;
        pointer-events: all;
        z-index: 10; 
        transform: translateX(31px)
    }
    .how-to-use {
        margin: 0 97px 145px; 
    }
    .how-to-use .line {
        position: absolute; 
        height: 150%; 
        bottom: 0; 
        left: 48px; 
        transform: translatex(-50%);
        width: 20px; 
        background-color: #E5ECF4;
    }
    .reasons {
        margin-bottom: 104px; 
    }
}

@media screen and (min-width: 1110px) {
    .hero {
        display: grid; 
        grid-template-columns: 1fr 500px 40px 570px 1fr;
        margin-bottom: 160px; 
        padding: 153px 0; 
    }
    .hero .content {
        grid-column: 2/3;
        margin: 0; 
    }
    .hero .content h1 {
        max-width: 500px; 
        text-align: start;
    }
    .hero .text {
        text-align: justify;
        max-width: 405px; 
        margin-left: auto; 
    }
    .hero .orange-line {
        width: 200%; 
        height: 15px; 
        background-color: #fcb72b;
        top: 25px; 
        transform: translateX(-452px);
    }
    .hero .img-container {
        grid-column: 4/6;
    }
    .hero .arrow {
        transform: translatex(0);
    }
    .how-to-use {
        max-width: 1110px; 
        margin: 0 auto 200px; 
    }
    .how-to-use .flex {
        flex-direction: row;
        gap: 30px; 
    }
    .how-to-use .line {
        width: 300%; 
        height: 20px; 
        right: 0; 
        top: 48px; 
        transform: translateY(-50%); 
        left: unset; 
    }
    .reasons {
        gap: 160px; 
        margin-bottom: 200px; 
    }
}