.btn-container {
    position: absolute; 
    top: 50%; 
    left: 32px; 
    transform: translateY(-50%);
    background-color: transparent;
    border: none; 
    cursor: pointer; 
    z-index: 105; 
}

.modal {
    position: absolute; 
    inset: 0 0 0 0;     
    width: 100%; 
    min-height: 100vh; 
    background-color: red; 
    transform: translatex(-100%);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100; 
}

.modal.active {
    transform: translateX(0); 
}

.link-container {
    padding: 128px 32px 24px; 
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    max-width: 256px; 
    justify-content: space-between;
    align-items: start;
    background-color: #333a44;
    transform: translatex(-100%); 
    transition: all 0.2s ease-in; 
}

.link-container.active {
    transform: translateX(0);
}

.link-container ul {
    position: relative; 
    list-style: none; 
    display: flex; 
    flex-direction: column;
    gap: 33px; 
    color: white; 
    font-size: 18px; 
    line-height: 1.39; 
    font-weight: bold; 
}

.btn {
    width: 192px; 
}

@media screen and (min-width: 768px) {
    .btn-container, .modal, .modal.active {
        visibility: hidden;
        pointer-events: none;
        top: -999px; 
        left: -999px;
        width: 0; 
        height: 0; 
    }
}